@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #002b13;
}

h4 {
  letter-spacing: 1px;
}

.fw-500 {
  font-weight: 500;
}

.text-white {
  color: #fff;
}

.text-yellow {
  color: #faff00;
}

.text-green {
  color: #317539;
}

.container-custom {
  margin: auto;
  width: 70%;
  height: 100%;
  /* background-color: pink; */
  padding-bottom: 3rem;
}

.heading {
  margin-top: 15vh;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.heading h1 {
  /* width: 55%; */
  font-size: 50px;
}

.sub-heading {
  margin: 2rem 0rem;
  font-weight: bold;
  text-align: center;
  padding: 0 3rem;
}

.content-boxes {
  margin-top: 0rem;
}

.center-box-for-video {
  box-shadow: bottom 0px 0px 10px #fff;
}

.center-box-for-video video {
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px #4cc481;
}

.schedule {
  display: flex;
  padding-left: 7px;
}

.ts-card-1,
.ts-card-2,
.ts-card-3,
.ts-card-4 {
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 41px;
  width: 48%;
}

.ts-card-1,
.ts-card-3 {
  margin-right: 10px;
}

.ts-card-2,
.ts-card-4 {
  margin-left: 10px;
}

.info-icon {
  align-self: center;
}

.info-icon img {
  width: 48px;
}

.info-text {
  align-self: center;
}

.info-text p {
  margin-bottom: 0rem !important;
  margin-left: 8px;
  font-size: 17px;
  font-weight: bold;
}

#liveSession {
  margin-top: -7px;
}

/* mtemp-0 is for target audience cards */
.mtemp-0 {
  margin-bottom: 0;
}

.mtemp-0 span {
  font-size: 25px;
  font-weight: bold;
}

.mtemp-0 p {
  font-size: 17px;
}

.m-ve3 {
  margin-top: -3px;
}

.pad-10px {
  padding: 10px;
}

.m-for-info-box {
  margin-bottom: 0px;
  margin-top: 6px;
}

.workshop-wrapper {
  margin-top: 4rem;
}

.about-card {
  text-align: -webkit-center;
}

.card {
  background-color: #1a1a1a;
  border-radius: 20px;
  border: 4px solid #fff;
}

.card-top {
  background-color: #015928;
  padding: 20px 0px;
  border-radius: 20px;
}

.card-body {
  padding: 0;
}

.instructor-image {
  border: 5px solid #faff00;
  border-radius: 50%;
  width: 50%;
  height: auto;
}

.instructor-image img {
  border-radius: 50%;
}

.register-link-wrapper {
  text-align: center;
  padding: 25px;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.register-link {
  background-color: white;
  width: 40%;
  padding: 18px;
  border-radius: 50px;
  margin-top: 50px;
}

.register-link-wrapper a {
  text-decoration: none;
  color: #000;
}

.special-text-learning {
  display: flex;
  background-color: white;
  border-radius: 20px;
}

.special-text-learning p {
  margin-left: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0rem;
}

.stl-icon {
  padding: 8px;
}

.stl-text {
  align-self: center;
}

.grab-your-spot {
  margin-top: 4rem;
}

.f-22 {
  font-size: 22px;
  font-weight: 500;
  color: #002b13;
}

footer {
  position: fixed;
  z-index: 5;
  width: 100%;
  bottom: 0;
  margin-top: 100px;
  background-color: #fff;
  padding: 14px 0px 7px;
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: #c3df9d;
}

.accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}

.accordian-item {
  border-radius: 0.25rem;
}

.w-63 {
  width: 90%;
}

.card-width {
  width: 28rem;
}

.faqs {
  margin-bottom: 80px;
}

.Who-for-workshop {
  display: flex;
  justify-content: space-between;
}

.target-audience {
  background-color: #026b30;
  border: 4px solid #4cc481;
  border-radius: 10px;
  display: flex;
  width: 34vw;
  height: 9rem;
}

#star-icon {
  width: 50px;
  height: 50px;
}

.rate {
  display: none;
}

.register-mobile-link a {
  display: none;
}

.counter {
  display: flex;
  justify-content: center;
}

.counter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #026b30;
  border-radius: 20px;
  width: 160px;
  border: 5px solid #4cc481;
  height: 140px;
  padding: 10px;
  margin-right: 15px;
}

.counter div p {
  font-size: 60px;
  color: #fff;
  margin: 0px;
}


/* For devices below 300px width  */

@media (max-width: 299px) {
  .container-custom {
    margin: auto;
    width: 90%;
    margin-bottom: 0rem;
  }
  .heading h1 {
    font-size: 24px;
  }
  .sub-heading {
    padding: 0rem;
  }
  h4.text-white.fw-bold {
    font-size: 18px;
  }
  .center-box-for-video video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px #4cc481;
  }
  .center-box-for-video video {
    width: 100%;
  }
  .content-boxes {
    margin-top: 2rem;
  }
  .m-for-info-box {
    font-size: 12px;
    margin-top: 2px;
  }
  .info-text p {
    margin-left: 6px;
    font-size: 10px;
  }
  .workshop-wrapper {
    margin-top: 3rem;
  }
  .mtemp-0 span {
    font-size: 17px;
  }
  p.text-white.mtemp-0 {
    font-size: 15px;
  }
  .card-width {
    width: 14rem;
  }
  .special-text.pt-2.row div img {
    width: 230% !important;
  }
  .special-text-learning p {
    font-size: 11px;
    line-height: 13px;
  }
  .counter div {
    width: 55px;
    height: 55px;
  }
  .counter div p {
    font-size: 14px;
  }
  .register-link {
    width: 100%;
    padding: 10px;
  }
  .register-link-wrapper {
    font-size: 18px;
  }
  .f-22 {
    font-size: 15px;
  }
  .Who-for-workshop {
    flex-direction: column;
  }
  .target-audience {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .accordion-body {
    font-size: 14px;
  }
  .info-icon img {
    width: 29px;
    height: 29px;
  }
  footer {
    position: relative;
    margin-top: 0px;
    bottom: 83px;
  }
  .time-run-out {
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 15px;
    background-color: #c8eadf;
  }
  .rate {
    display: block;
    align-self: center;
  }
  .register-mobile-link a {
    display: block;
    text-decoration: none;
    color: white;
    background: #015928;
    padding: 10px;
    border-radius: 10px;
  }
  footer h4 {
    font-size: 17px;
  }
  #day-id {
    margin-left: 6px;
  }
  #sec-id {
    margin-right: 0px;
  }
  #demoMobile {
    font-size: 14px;
  }

}


/* For Mobiles */

@media (min-width: 300px) and (max-width: 480px) {
  .container-custom {
    margin: auto;
    width: 90%;
    margin-bottom: 0rem;
  }
  .heading h1 {
    font-size: 32px;
  }
  .sub-heading {
    padding: 0rem;
  }
  .f-22 {
    font-size: 20px;
  }
  .center-box-for-video video {
    width: 100%;
  }
  .content-boxes {
    margin-top: 2rem;
  }
  .special-text.pt-2.row div img {
    width: 137% !important;
  }
  .m-for-info-box {
    font-size: 12px;
    margin-top: 2px;
  }
  .register-link {
    width: 100%;
    padding: 10px;
  }
  .register-link-wrapper {
    font-size: 25px;
  }
  .card-width {
    width: 20rem;
  }
  .Who-for-workshop {
    flex-direction: column;
  }
  .target-audience {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .special-text-learning p {
    margin: 0px 2px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0rem;
    line-height: 16px;
  }
  .info-icon img {
    width: 29px;
    height: 29px;
  }
  .info-text p {
    margin-left: 6px;
    font-size: 15px;
  }
  footer {
    position: relative;
    margin-top: 0px;
    bottom: 94px;
  }

  .time-run-out {
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 15px;
    background-color: #c8eadf;
  }

  .rate {
    display: block;
    align-self: center;
  }

  .register-mobile-link a {
    display: block;
    text-decoration: none;
    color: white;
    background: #015928;
    padding: 14px;
    border-radius: 10px;
  }

  .counter div {
    width: 73px;
    border: 5px solid #4cc481;
    height: 74px;
    padding: 8px;
  }

  .counter div p {
    font-size: 22px;
  }

  #day-id {
    margin-left: 6px;
  }

  #sec-id {
    margin-right: 0px;
  }

  #demoMobile {
    font-size: 20px;
  }
}

/* For devices with width 481px and above */

@media (min-width: 500px) and (max-width: 767px) {
  .container-custom {
    margin: auto;
    width: 90%;
    margin-bottom: 0rem;
  }
  .heading h1 {
    font-size: 35px;
  }
  .sub-heading {
    padding: 0rem;
  }
  .f-22 {
    font-size: 20px;
  }
  .center-box-for-video video {
    width: 100%;
  }
  .content-boxes {
    margin-top: 2rem;
  }
  .m-for-info-box {
    font-size: 12px;
    margin-top: 2px;
  }
  .register-link {
    width: 100%;
    padding: 10px;
  }
  .card-width {
    width: 28rem;
  }
  .Who-for-workshop {
    flex-direction: column;
  }
  .target-audience {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .special-text-learning p {
    margin: 0px 2px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0rem;
    line-height: 20px;
  }
  .info-icon img {
    width: 29px;
    height: 29px;
  }
  .info-text p {
    margin-left: 6px;
    font-size: 18px;
  }
  footer {
    position: relative;
    margin-top: 0px;
    bottom: 97px;
  }

  .time-run-out {
    position: fixed;
    z-index: 5;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 15px;
    background-color: #c8eadf;
  }

  .rate {
    display: block;
    align-self: center;
  }

  .register-mobile-link a {
    display: block;
    text-decoration: none;
    color: white;
    background: #015928;
    padding: 14px;
    border-radius: 10px;
  }

  .counter div {
    width: 90px;
    border: 5px solid #4cc481;
    height: 90px;
    padding: 8px;
  }

  .counter div p {
    font-size: 27px;
  }

  #day-id {
    margin-left: 6px;
  }

  #sec-id {
    margin-right: 0px;
  }

  #demoMobile {
    font-size: 22px;
  }
}


/* For screen sizes between 768px and 1199px */

@media (min-width: 768px) and (max-width: 1199px) {
  .container-custom {
    margin: auto;
    width: 90%;
  }
  .stl-text {
    line-height: 1.1;
  }
  .target-audience {
    width: 43vw;
  }
  .mtemp-0 span {
    font-size: 20px;
  }
  .target-audience {
    height: 10rem;
  }
  .center-box-for-video video {
    width: 90%;
  }
  #for-margin-in-tab {
    margin-top: 2rem;
  }
  .info-text p {
    font-size: 22px;
  }
  .text-below-video h4 {
    line-height: 1.5;
  }
  .workshop-wrapper {
    margin-top: 3rem;
  }
  .counter div p {
    font-size: 55px;
  }
  .register-link {
    width: 60%;
  }
}
 

/* For screen sizes between 1200px and 1600px */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1500px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .container-custom {
      margin: auto;
      width: 75%;
      height: 100%;
      padding-bottom: 3rem;
  }
  .target-audience {
    width: 36vw;
  }
}