.success-wrapper {
  margin: 15vh 0 5vh;
  text-align: center;
}
.success-wrapper p {
  font-size: 16px;
  font-weight: 500;
}
.try {
  background-color: #f8ef42;
  background-image: linear-gradient(315deg, #f8ef42 0%, #0fd64f 74%);
}
.pre-requisites-wrapper {
  display: flex;
  justify-content: center;
}
.pre-requisites {
  border-radius: 10px;
  padding: 60px 50px 35px;
}
.down-arrow {
  display: flex;
  justify-content: space-between;
}
.down-arrow img {
  transform: scaleY(-1);
}
.button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #f8f8f8;
  font-size: 15px;
  font-weight: 500;
}
.accordion-collapse .accordion-body p {
    color: #1c1c1e;
}